.form-signup {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 100px;
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.form-signup h1 {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #0078f0;
}

.form-signup label {
  margin-bottom: 25px;
}

.form-signup .email-message {
  position: absolute;
  top: 168px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.form-signup .password-message {
  position: absolute;
  top: 272px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.form-signup .success {
  color: #8f8c8b;
}

.form-signup .error {
  color: #ff2727;
}

.form-signup input {
  display: block;
  width: 100%;
  font: inherit;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 4px;
  border: 2px solid black;
  margin-bottom: 1rem;
}

.form-signup button {
  width: 200px;
  margin: auto;
  margin-bottom: 10px;
  font: inherit;
  background-color: #0078f0;
  border: 1px solid #0078f0;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
}

.form-signup .button-disabled {
  background-color: #8f8c8b;
  border-color: #8f8c8b;
}

.form-signup .button-abled:hover,
.form-signup .button-abled:active {
  background-color: #0800f0;
  border-color: #0800f0;
}
