.container-days {
  border: 0.5px solid var(--grey-font-color);
  flex-wrap: 1px;
}

.container-days:nth-child(7n + 1) {
  color: #ff6b6b;
  font-weight: bold;
}

.container-days:nth-child(7n) {
  color: #4d96ff;
  font-weight: bold;
}

.container-days .container-account-data {
  display: flex;
  flex-direction: column;
  margin: 10px 0 0 10px;
  color: var(--grey-font-color);
}

.container-days:hover {
  background-color: var(--hover-color);
}

.container-days p {
  padding: 10px;
  font-weight: 600;
}

.par-sameMonth {
  font-weight: 700;
}

.par-sameDay {
  color: white;
  background-color: #4d96ff;
}

.par-cliked {
  border: 1px solid #4d96ff;
}

.par-holiday {
  color: #ff6b6b;
}
