.container-btnlist {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-btn {
  border: none;
  outline: 0;
  margin: 10px;
}

.container-btnlist button:hover {
  background-color: var(--hover-color);
}
