:root {
  --background-color: #eef0f4;
  --section-background-color: #ffffff;
  --input-background-color: #f2f6fa;
  --grey-font-color: #586a84;
  --hover-color: #e5f3ff;
  --click-color: #f8fbfe;
  --black-em-color: #3b4758;
  --green-percent-color: #0a7d5a;
  --red-percent-color: #ee3a1f;
  --grey-button-font-color: #778ca2;
}
